.cotenedorFormulario {
  background: -webkit-linear-gradient(
    90deg,
    #0b598d,
    #a0c1d5,
    #ddd1b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #0b598d,
    #a0c1d5,
    #ddd1b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 20px;
  width: 600px;
  padding: 10px;
}

.circulo {
  width: 30px;
  height: 30px;
  background-color: black;
}

.botonEliminar {
  background-color: red;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.botonEliminar:hover {
  background-color: rgb(255, 55, 55);
}

.card {
  box-shadow: 10px 10px 5px 0px rgba(241, 155, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(241, 155, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(241, 155, 0, 0.75);
}

.inputFechaHora {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .cotenedorFormulario {
    width: 340px;
  }

  .inputFechaHora {
    min-width: 110px !important;
  }
}
